@font-face {
    font-family: 'PT_SerifWebBoldItalic';
    src: url('fonts/PT_SerifWebBoldItalic.eot');
    src: url('fonts/PT_SerifWebBoldItalic.eot') format('embedded-opentype'),
         url('fonts/PT_SerifWebBoldItalic.woff2') format('woff2'),
         url('fonts/PT_SerifWebBoldItalic.woff') format('woff'),
         url('fonts/PT_SerifWebBoldItalic.ttf') format('truetype'),
         url('fonts/PT_SerifWebBoldItalic.svg#PT_SerifWebBoldItalic') format('svg');
}
