$white: #FFFFFF;
$orange: #ff6633;
$black: #000;
$black-op: rgba(0, 0, 0, 0.73);
$activ-botton-opacity: rgba(0, 112, 237, 0.6);
$grey: #4f4f4f;
$grey-op: rgba(125, 140, 120, 0.55);
$blue: #223569;
$border-opacity: rgba(236, 238, 240, 0);
$background-opacity: rgba(236, 238, 240, 0);
$white-op: rgba(255, 255, 255, 0.4);
$blue-fon: #151c26;
$orange-op: rgba(255, 102, 51, 0.4);;
