.header { 
	width: 100%; 
  padding-top: 40px;
  padding-bottom: 70px;
  background-color: $grey-op;   
  position: fixed;
  z-index: 6;
}

.header-menu {
	display: flex;
	justify-content: space-between;
}
.nav {
	&__menu {
		@extend %for-ul;
		position: relative;
		list-style: none;
	  padding: 0;
	  margin-top: 0;
	  margin-bottom: 0;
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  &_menu-li {
	  	position: relative;	  	
	  	color: $white;
	  	a:hover {
        color: $white-op;
        text-decoration: none;
      }
	  }  
	}
}

.nav__menu_menu-li:hover {
  .submenu {
    display: block;
  }
}

.submenu {
  @extend %for-ul;
  /* display: none; */
  position: absolute;
  width: 120px;
  top: 35px;
  padding-left: 0;
  text-align: center;
}

.submenu-li {
  display: block;
  color: $white;
  a:hover {
    color: $white-op;
  }
}

.submenu-a {      
  display: block;
  text-align: left;
  @extend %for-p;
  font-family: 'PT_SansWebRegular';
  font-size: 13px;
  font-style: italic;
  color: $white;
  line-height: 17px;
  text-decoration: none;
}
.choice {
	@extend %for-h3;
}

.color-orange {
	color: $orange;
	a:hover {
    color: $orange-op;
  }
}

.header-logo {
	padding-left: 0;
  padding-right: 0;
}

.header-menu {
	padding-left: 0;
  padding-right: 0;
}

.header-contakt {
	padding-left: 50px;
  padding-right: 0;
}