.section-3 {
	margin-top: 120px;
	margin-bottom: 120px;
	padding-left: 0;
  padding-right: 0;	
}

.wrap-img {
	
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
}

.servic-meal {
	display: flex;
	align-items: flex-end;
	padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  margin-bottom: 30px;
}
.foto-meal-2 {
	max-width: 48%;
  margin-right: 15px;
}

.foto-meal-3 {
	max-width: 73%;
	margin-left: 15px;    
}

.servic-meal-cake {
	height: 214px;
  display: flex;
	align-items: flex-end;
	padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}

.foto-meal-4 {
    width: 100%;
    padding-top: 30px;
}   

.servic-text{
	
}

.servise-tasteful {
	display: flex;
}

.page-services {
	padding-left: 0;
  padding-right: 0;
  &__meals {
    margin-right: 15px;
    padding-left: 0;
    padding-right: 0;
  }
	&__info {
	  margin-left: 15px;
	  padding-left: 11px;
    padding-right: 0;		
		&_topic-info {
			@extend %for-h1;
			font-size: 26px;
			line-height: 30px;
			text-transform: none;
			color: $black;
			margin-top: 65px;
    	margin-bottom: 27px;
    	color: $grey-dark;
		}
		&_text-info {
			font: {
				family: 'PT_SansWebRegular';
				size: 16px;
		  }
		  color: $grey-dark;
		}	
	}
}

.text-down {
	margin-bottom: 35px;
}

.btn-read {
	@extend %for-buttons;	
  padding: 18px 46px;
  float: right;
  margin-right: 20px;
  margin-bottom: 56px;
}

.select {		
	color: $orange;	
}  

.select:hover {
 	color: $orange-op;
 	text-decoration: none;
 	cursor: pointer;	
}