.section-2 {
	padding-top: 120px;
	background-color: rgb(247, 247, 247);
}

.fon-1 {
	margin-bottom: 30px;
}

.page-about {
	&__info {
	padding-left: 15px;
  padding-right: 13px;		
		&_topic-info {
			@extend %for-h1;
			font-size: 26px;
			line-height: 30px;
			text-transform: none;
			color: $black;
			margin-top: 60px;
    	margin-bottom: 35px;
    	color: $grey-dark;
		}
		&_text-info {
			font: {
				family: 'PT_SansWebRegular';
				size: 16px;
		  }
		  color: $grey-dark;
		  margin-bottom: 15px;
		}
		&_text-down {
	    margin-bottom: 35px;
    }	
	}
	&__foto-info {
		display: flex;
		align-items: stretch;
	}
}

.btn-read {
	@extend %for-buttons;	
  padding: 18px 46px;
  float: right;
  margin-right: 20px;
  margin-bottom: 56px;
}

.select {		
	color: $orange;	
}  

.select:hover {
 	color: $orange-op;
 	text-decoration: none;
 	cursor: pointer;	
}	

.foto-glass {
	width: 147%;	
}

.shef {
	width: 118%;
	padding-left: 0;
	padding-right: 0;
	display: flex;
  align-items: flex-end;
  margin-top: -135px;
  margin-bottom: 120px;  
}

.foto-shef {
	
}

.kitchen {
	overflow: hidden;
  display: flex;
  width: 29%;
  margin-right: 30px;
  align-items: inherit;
}

.foto-kitchen {
	width: 118%;
	margin-left: 30px;    
}

.foto-meal {
	width: 23%;
}





        