@font-face {
  font-family: 'PT_SerifWebBold';
  src: url("fonts/PT_SerifWebBold.eot");
  src: url("fonts/PT_SerifWebBold.eot") format("embedded-opentype"), url("fonts/PT_SerifWebBold.woff2") format("woff2"), url("fonts/PT_SerifWebBold.woff") format("woff"), url("fonts/PT_SerifWebBold.ttf") format("truetype"), url("fonts/PT_SerifWebBold.svg#PT_SerifWebBold") format("svg");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: 'PT_SerifWebBoldItalic';
  src: url("fonts/PT_SerifWebBoldItalic.eot");
  src: url("fonts/PT_SerifWebBoldItalic.eot") format("embedded-opentype"), url("fonts/PT_SerifWebBoldItalic.woff2") format("woff2"), url("fonts/PT_SerifWebBoldItalic.woff") format("woff"), url("fonts/PT_SerifWebBoldItalic.ttf") format("truetype"), url("fonts/PT_SerifWebBoldItalic.svg#PT_SerifWebBoldItalic") format("svg");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: 'PT_SerifWebItalic';
  src: url("fonts/PT_SerifWebItalic.eot");
  src: url("fonts/PT_SerifWebItalic.eot") format("embedded-opentype"), url("fonts/PT_SerifWebItalic.woff2") format("woff2"), url("fonts/PT_SerifWebItalic.woff") format("woff"), url("fonts/PT_SerifWebItalic.ttf") format("truetype"), url("fonts/PT_SerifWebItalic.svg#PT_SerifWebItalic") format("svg");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: 'PT_SerifWebRegular';
  src: url("fonts/PT_SerifWebRegular.eot");
  src: url("fonts/PT_SerifWebRegular.eot") format("embedded-opentype"), url("fonts/PT_SerifWebRegular.woff2") format("woff2"), url("fonts/PT_SerifWebRegular.woff") format("woff"), url("fonts/PT_SerifWebRegular.ttf") format("truetype"), url("fonts/PT_SerifWebRegular.svg#PT_SerifWebRegular") format("svg");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: 'PT_SansWebBold';
  src: url("fonts/PT_SansWebBold.eot");
  src: url("fonts/PT_SansWebBold.eot") format("embedded-opentype"), url("fonts/PT_SansWebBold.woff2") format("woff2"), url("fonts/PT_SansWebBold.woff") format("woff"), url("fonts/PT_SansWebBold.ttf") format("truetype"), url("fonts/PT_SansWebBold.svg#PT_SansWebBold") format("svg");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: 'PT_SansWebBoldItalic';
  src: url("fonts/PT_SansWebBoldItalic.eot");
  src: url("fonts/PT_SansWebBoldItalic.eot") format("embedded-opentype"), url("fonts/PT_SansWebBoldItalic.woff2") format("woff2"), url("fonts/PT_SansWebBoldItalic.woff") format("woff"), url("fonts/PT_SansWebBoldItalic.ttf") format("truetype"), url("fonts/PT_SansWebBoldItalic.svg#PT_SansWebBoldItalic") format("svg");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: 'PT_SansWebItalic';
  src: url("fonts/PT_SansWebItalic.eot");
  src: url("fonts/PT_SansWebItalic.eot") format("embedded-opentype"), url("fonts/PT_SansWebItalic.woff2") format("woff2"), url("fonts/PT_SansWebItalic.woff") format("woff"), url("fonts/PT_SansWebItalic.ttf") format("truetype"), url("fonts/PT_SansWebItalic.svg#PT_SansWebItalic") format("svg");
  font-style: normal;
  font-weight: 300; }
@font-face {
  font-family: 'PT_SansWebRegular';
  src: url("fonts/PT_SansWebRegular.eot");
  src: url("fonts/PT_SansWebRegular.eot") format("embedded-opentype"), url("fonts/PT_SansWebRegular.woff2") format("woff2"), url("fonts/PT_SansWebRegular.woff") format("woff"), url("fonts/PT_SansWebRegular.ttf") format("truetype"), url("fonts/PT_SansWebRegular.svg#PT_SansWebRegular") format("svg");
  font-style: normal;
  font-weight: 400; }
body {
  background-image: url("../image/general.png"); }

.container {
  width: 940px;
  padding-left: 0;
  padding-right: 0; }

.row {
  margin-left: 0;
  margin-right: 0; }

.clearfix::after {
  display: block;
  content: "";
  clear: both; }

.submenu-a {
  font-family: 'PT_SerifWebRegular';
  font-size: 17px;
  color: #000;
  line-height: 26px; }

.general-page__text_topic, .page-about__info_topic-info, .page-services__info_topic-info {
  font-family: 'PT_SerifWebBold';
  font-size: 52px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 56px;
  color: #FFFFFF; }

.general-page__text_main, .link-line {
  font-family: 'PT_SerifWebRegular';
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: #FFFFFF; }

.choice {
  font-family: 'PT_SerifWebBold';
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #FFFFFF; }

.btn, .btn-read {
  font-family: 'PT_SansWebBold';
  font-size: 13px;
  background-color: #ff6633;
  border: none;
  line-height: 13px; }

.nav__menu ul:after, .submenu ul:after {
  display: block;
  content: ' ';
  clear: both;
  float: none; }

.header {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 70px;
  background-color: rgba(125, 140, 120, 0.55);
  position: fixed;
  z-index: 6; }

.header-menu {
  display: flex;
  justify-content: space-between; }

.nav__menu {
  position: relative;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav__menu_menu-li {
    display: flex;
    align-items: center;
    position: relative;
    color: #FFFFFF; }
    .nav__menu_menu-li a:hover {
      color: rgba(255, 255, 255, 0.4);
      text-decoration: none; }

.nav__menu_menu-li:hover .submenu {
  display: block; }

.submenu {
  /* display: none; */
  position: absolute;
  width: 120px;
  top: 35px;
  padding-left: 0;
  text-align: center; }

.submenu-li {
  display: block; }

.submenu-a {
  display: block;
  text-align: left;
  font-family: 'PT_SansWebRegular';
  font-size: 13px;
  font-style: italic;
  color: #FFFFFF;
  line-height: 17px;
  text-decoration: none; }

.color-orange {
  color: #ff6633; }

.header-logo {
  padding-right: 0; }

.header-menu {
  padding-left: 0;
  padding-right: 0; }

.header-contakt {
  padding-left: 50px;
  padding-right: 0; }

.section-1 {
  background-image: url("../images/section-main.png");
  background-size: cover;
  padding-top: 40px; }

.general-page__text {
  margin-top: 240px; }
  .general-page__text_topic {
    margin-top: 0; }
  .general-page__text_main {
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 45px; }
  .general-page__text_btns {
    margin-bottom: 138px; }
  .general-page__text_scroll-text {
    font-family: 'PT_SansWebRegular';
    font-size: 14px;
    color: #FFFFFF; }

.link-line {
  margin-top: 0;
  text-decoration: underline;
  /* border-bottom: 2px solid $white; */ }

.btn {
  padding: 18px 51px;
  margin: 0 10px; }

.button-left {
  padding: 18px 41px; }

.btn:hover {
  background-color: rgba(0, 0, 0, 0.73); }

/* --------- scroll mouse start -------- */
#mice {
  margin: 0 auto;
  padding-bottom: 4em;
  width: 20px;
  height: 0; }

#mice span {
  display: block;
  width: 9px;
  height: 9px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  margin: -4px 0 0 6px; }

.unu {
  margin-top: 6px; }

.unu, .doi {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite; }

.unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate; }

.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate; }

/* --------- scroll mouse finish -------- */
.section-2 {
  padding-top: 120px;
  background-color: #f7f7f7; }

.fon-1 {
  margin-bottom: 30px; }

.page-about__info {
  padding-left: 15px;
  padding-right: 13px; }
  .page-about__info_topic-info {
    font-size: 26px;
    line-height: 30px;
    text-transform: none;
    color: #000;
    margin-top: 60px;
    margin-bottom: 35px;
    color: #3b3b3b; }
  .page-about__info_text-info {
    font-family: 'PT_SansWebRegular';
    font-size: 16px;
    color: #3b3b3b;
    margin-bottom: 15px; }
  .page-about__info_text-down {
    margin-bottom: 35px; }
.page-about__foto-info {
  display: flex;
  align-items: stretch; }

.btn-read {
  padding: 18px 46px;
  float: right;
  margin-right: 20px;
  margin-bottom: 56px; }

.select {
  color: #ff6633; }

.select:hover {
  color: rgba(255, 102, 51, 0.4);
  text-decoration: none;
  cursor: pointer; }

.foto-glass {
  width: 147%; }

.shef {
  width: 118%;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  align-items: flex-end;
  margin-top: -135px;
  margin-bottom: 120px; }

.kitchen {
  overflow: hidden;
  display: flex;
  width: 29%;
  margin-right: 30px;
  align-items: inherit; }

.foto-kitchen {
  width: 118%;
  margin-left: 30px; }

.foto-meal {
  width: 23%; }

.section-3 {
  margin-top: 120px;
  margin-bottom: 120px;
  padding-left: 0;
  padding-right: 0; }

.wrap-img {
  overflow: hidden;
  padding-left: 0;
  padding-right: 0; }

.servic-meal {
  display: flex;
  align-items: flex-end;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  margin-bottom: 30px; }

.foto-meal-2 {
  max-width: 48%;
  margin-right: 15px; }

.foto-meal-3 {
  max-width: 73%;
  margin-left: 15px; }

.servic-meal-cake {
  height: 214px;
  display: flex;
  align-items: flex-end;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden; }

.foto-meal-4 {
  width: 100%;
  padding-top: 30px; }

.servise-tasteful {
  display: flex; }

.page-services {
  padding-left: 0;
  padding-right: 0; }
  .page-services__meals {
    margin-right: 15px;
    padding-left: 0;
    padding-right: 0; }
  .page-services__info {
    margin-left: 15px;
    padding-left: 11px;
    padding-right: 0; }
    .page-services__info_topic-info {
      font-size: 26px;
      line-height: 30px;
      text-transform: none;
      color: #000;
      margin-top: 65px;
      margin-bottom: 27px;
      color: #3b3b3b; }
    .page-services__info_text-info {
      font-family: 'PT_SansWebRegular';
      font-size: 16px;
      color: #3b3b3b; }

.text-down {
  margin-bottom: 35px; }

.btn-read {
  padding: 18px 46px;
  float: right;
  margin-right: 20px;
  margin-bottom: 56px; }

.select {
  color: #ff6633; }

.select:hover {
  color: rgba(255, 102, 51, 0.4);
  text-decoration: none;
  cursor: pointer; }

.section-4 {
  padding-top: 120px;
  margin-bottom: 120px;
  padding-left: 0;
  padding-right: 0;
  background-color: #f7f7f7; }

.communication__forms-info {
  display: flex; }
  .communication__forms-info_write {
    background-color: #FFFFFF;
    margin-right: 15px; }
    .communication__forms-info_write_topic-name {
      font-family: 'PT_SerifWebBold';
      font-size: 22px;
      font-weight: 500;
      line-height: 24px;
      color: #3b3b3b; }
  .communication__forms-info_forms-calendar {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    margin-left: 15px;
    padding-left: 30px; }
    .communication__forms-info_forms-calendar_topic-name {
      font-family: 'PT_SerifWebBold';
      font-size: 22px;
      font-weight: 500;
      line-height: 24px;
      color: #3b3b3b; }
    .communication__forms-info_forms-calendar_form-right {
      display: flex; }
      .communication__forms-info_forms-calendar_form-right_fotos-music {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        overflow: hidden; }
      .communication__forms-info_forms-calendar_form-right_info-list {
        width: 73%;
        margin-left: 20px; }
        .communication__forms-info_forms-calendar_form-right_info-list_topic-calls {
          margin-top: 0;
          font-family: 'PT_SerifWebBold';
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;
          color: #ff6633; }
        .communication__forms-info_forms-calendar_form-right_info-list_adds {
          font-family: 'PT_SansWebRegular';
          font-size: 14px;
          font-weight: 400;
          line-height: 16px;
          color: #3b3b3b; }
        .communication__forms-info_forms-calendar_form-right_info-list_read-more {
          font-family: 'PT_SansWebItalic';
          font-size: 14px;
          font-weight: 400;
          line-height: 16px;
          color: #ff6633; }

.calendar {
  display: flex; }
  .calendar__dates {
    font-family: 'PT_SansWebRegular';
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #3b3b3b; }

/* -------- fonts -------- */
/* -------- colors -------- */
/* -------- variables -------- */
/* -------- header -------- */
/* -------- section-1 -------- */
/* -------- section-2 -------- */
/* -------- section-3 -------- */
/* -------- section-4 -------- */
/* -------- section-5 -------- */
/* -------- footer -------- */

/*# sourceMappingURL=style.css.map */
